body {
	margin: 0px;
	font-family: georgia;
	background-image: url(img/scroll.jpg);
}

#buffer {
	background-color: white;
	font-weight: bold;
	position:fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	margin: 0px;
	height: 50px;
	border: none;
	opacity: 0.6;
	z-index: 1;
}

#buffer.backlog {
	height: 250px;
	background-color: #ddd;
	background-image: none;
}

#map {
	margin-top: 50px;
}

#map > div {
	background-color: black;
	margin: auto;
}

.ascii {
	font-family:monospace; 
	font-size:125%;
}

#keypad {
	float: left;
}

#keypad table {
	text-align: center;
	border-collapse: collapse;
}

#keypad td {
	padding: 0px;
}

#keypad input, #commands input {
	margin: 1px;
	font: menu;
}

.items {
	background-image: url(img/scroll.jpg);
	border: 2px solid brown;
	padding: 0.5em;
	opacity: 0.95;
}

.items td {
	font-size: 80%;
}

.items h1 {
	font-size: 90%;
	margin: 0px 0px 0.5em 0px;
}

.items thead {
	font-weight: bold;
}

.items thead td {
	padding-top: 0.5em;
	border-bottom: 1px solid black;
}
.items input {
	vertical-align: middle;
	font: menu;
}

.items table {
	margin-bottom: 1em;
	border-collapse: collapse;
}

#mapswitch {
	margin: 0px;
	padding: 0px;
}

#mapswitch li {
	list-style-type: none;
	float: left;
	margin-left: 2em;
	padding: 0px;
}

#mapswitch a.active {
	color: black;
	text-decoration: none;
	cursor: default;
}

#status {
	background-color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	opacity:0.8;
}

#status table {
	width: 100%;
}
